<script>
$(document).ready(function(){
  last = <%=@conversations.last['date'].to_i%>;
  $('#view_more').click(function() {
    $.get('/before/'+last, function(data) {
      $('#conversations').append(data);
    });

  });
});
</script>
    
    <p>You can read more about it <a href="http://14lines.com/blog/2011/06/15/omegle-bot-tom-wait/">here.</a></p>

    <div id="conversations">
    
    <% @conversations.each do |convo| %>
    <div class="conversation">
      <h2>Stranger <a href="./conversations/<%=convo['omegle_id']%>">#<%=convo['omegle_id']%></a>: <%=convo['date'].strftime("%A, %B %d %Y at %I:%M%p ")%></h2>
      
      <%convo['history'].select{|h| h['status'] == "gotMessage" }.each do |message| %>
        <p><%= message['message'] %></p>
      <%end%>
      <p>Stranger Disconnected</p>
    </div>
    <%end%>
  </div>
  
  <p id="view_more">View More...</p>


